

  <div class="container mt-4">
    <h1 class="mb-4 text-center">Restaurants List</h1>

    <ul class="list-group">
      <% @restaurants.each do |restaurant| %>
        <li class="list-group-item" id="list_resto"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end %>
    </ul>
  </div>
